*{
    box-sizing: border-box;
    font-family:  'Segoe UI';
    transition: .1s;
}
.containerwidth{width: 1260px;}
.d-inlineblock{display: inline-block;}
.displaynone-d{display: none;}

.topinput{
    width: 300px;
    padding: 5px 20px;
    background-color: gainsboro;
    color: black;
    border: solid 1px gainsboro;
}
.topinputsearch{
    background-color:rgb(86, 206, 180);
    display: inline-block;
    padding: 4px;
    margin: 0;
    border: none;
}
.topinputsearch svg{
    color: white;
    cursor: pointer;
    padding: 2px;
}
.headdersvg{
    cursor: pointer;
}

/* menu list */

.navbar {position: relative;}

.navbar a {
    float: left;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: .8;
}

.dropdown {
    float: left;
    background-color:white;
    position: relative;
}

.dropdown .dropbtn {
    font-size: 12px;  
    border: none;
    outline: none;
    color: darkgrey;
    padding: 10px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0px;
    background-color: transparent;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color:rgb(86, 206, 180);
    opacity: 1;
    transition: .2s;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    font-weight: 700;
    float: none;
    color: darkgrey;
    padding: 12px 16px;
    display: block;
    text-align: center;
    background-color: white;
}

.dropdown-content a:hover {
    color:rgb(86, 206, 180);
    text-decoration: none;
    
}

.dropdown:hover .dropdown-content {
    display: block;
    border-bottom:solid 2px rgb(86, 206, 180);
}

/* header */

.header-teaimg{
    position: relative;
}

.timgbox{
    width: fit-content;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.timg-text{
    margin: 0 10px ;
    justify-content: space-between;
    text-align: center;
    border: solid 1px black;
    width: 200px;
    background-color: white;
}
.timg-text h6{
    margin-top: 20px;
    font-weight: bold;
}
.timg-text p{
    text-align: baseline;
    font-size: 14px;
    font-weight: 600;
    padding: 0 18px;
    margin: 0;
}

.zoom {
    background-color: white;
    transition:  .2s;
    width: 200px;
    height: 120px;
    margin: 0 20px;
    border: solid 3px rgb(86, 206, 180);
}

.zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.2); 
}
.box{
    display: flex;
    justify-content: center;
    align-self: center;
}
.instrcut{
    margin: 0 20px;
    display: inline-block;
}
.svgicon{display: inline-block;}

.svgicon svg{
    vertical-align: baseline;
    color:  rgb(86, 206, 180);
}
.svgimgtext{
    align-self: center;
    display: inline-block;
}
.svgimgtext h6{
    margin: 0;
    padding: 0;
} 
.svgimgtext p{
    margin: 0;
}
/* Main box */

.mainbox{
    display: flex;
    justify-content: space-between;
}
.tabbox{padding: 5px 30px;}
.imgrelative{position: relative;}
.portfoliyoimg {margin: 10px;}

.portfoliooverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease-in-out;
    background-color: black;
}

.imgrelative:hover .portfoliooverlay{opacity: .5;}

.portfolooverlaytext {
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.addbtn{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(86, 206, 180);
    color: white;
}
.countbtn{
    background: transparent;
    border: solid 1px black;
    margin: 0 10px;
    border-radius: 3px;
}
.viewall{
    font-size: 12px;
    padding: 5px 20px;
    
}
.viewall:hover{
    background-color: rgb(86, 206, 180);
    color: white;
    border: solid 1px  rgb(86, 206, 180);
}
.tab{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    padding: 5px 20px;
    margin: 0;
    border:solid 1px gainsboro;
}
.tab:hover{
    background-color: white;
    color: rgb(86, 206, 180);
    border: solid 1px rgb(86, 206, 180);
}

.brand-detail{padding: 10px 0;}
.brandbtn{
    border-radius: 5px;
    border-color: rgb(86, 206, 180);
    color: rgb(86, 206, 180);
    background-color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}
.brandbtn:hover{
    background-color: rgb(86, 206, 180);
    color: white;
}
.widthnone-halirambrand{margin: 0 20px;}
.bottominput{background: transparent;}

.btnbottom{
    background-color: rgb(86, 206, 180);
    border: none;
    padding: 5px 8px;
}
form input{width: 70%;}

/* Footer */

footer{
    background-color: rgb(36, 36, 36);
    color: white;
}
.flogotext{
    font-size: 11px;
}
.squarepay{
    display: inline-block;
    width: 40px;
    height: 25px;
    border: solid 1px black;
    margin-top: 20px;
    cursor: pointer;
    background-color:white;
}
.ftext{
    margin-left: 50px;
    width: 30%;
}
.fbox{display: inline-block;}
.footerlink{
    margin: 0 10px;
    font-size: 12px;
}
.footerlink a{
    text-decoration: none;
    color: white;
    padding: 5px 0;
    display: block;
}
.footerlink h6{margin-bottom: 20px;}
.text-decoration-none{text-decoration: none;}
.footerterms span, p{
    font-size: 12px;
    opacity: .5;
}

/* Media Quarey for Mobile Device */

@media screen and (min-width: 360px) and (max-width: 768px ){
    
    .displaynone{display: none;}
    .m-width, header, nav,.navbar,.containerwidth, .header-teaimg,main,.mainbox,.box,
    .portfoliyoimg,.imgrelative,.food-details,.portfolooverlaytext,footer,.option{
        width: 100%;
    }
    .header-teaimg img{width:100%;}
    header ,.box{
        display: block;
        padding: 0;
    }
    .svgicon{display: block;}
    .instrcut{
        width: 100%;
        text-align: center;
        margin: 10px 0;
        padding: 10px 0;
    }
    .mainbox{
        display: block;
        margin: 0;
    }
    .tab{padding: 5px 10px;}
    .tab h6{
        font-size: 10px;
        margin-top: 10px;
    }
    .portfoliyoimg{
        margin: 20px 0;
        padding: 0 10px;
    }
    .food-details h6{font-size: 12px;}
    .food-details svg{font-size: 10px;}
    .headdersvg svg ,span{font-size: 10px;}
    .headdersvg{padding: 0;}
    .ftext{margin: 0;}
}