/* Header */

*{
    font-family: Arial, Helvetica, sans-serif;
}

.topnavborder:hover{
    border-bottom: solid 3px #ffc107!important;
    color: #ffc107!important;
    text-decoration: none;
}
.topnavborder{
    color: #000;
}
.img-fluid-header{
    width: 100%;
    height: 600px;
}
.topcenter{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerbottom{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main section */

.square{
    font-size: 12px;
    list-style-type: none;
    cursor: pointer;
}
.bg-black{
    background-color: black;
}
.bg-grey{
    background-color: gainsboro;
}

.topnavborderbox:hover{
    color: #ffc107!important;
    text-decoration: none;
    cursor: pointer;
    
}
.box{
    width: 400px;
    height: 200px;
    border: solid 1px white;
}
.bottomborder{
    border-bottom:solid 3px  #ffc107!important;
    display: inline-block;
}

.designimg{
    width:150px;
    height: 100px;
}
.secoundmenuhover{
    font-weight: 500;
    color: black;
    font-size: 12px;
}
.secoundmenuhover:hover{
    background-color: black;
    color:  #ffc107!important;
    padding: 1em 3em;
    font-weight: 500;
    text-decoration: none;
}

/* Secound Menu img gallery */

.imgsize{
    height: 100%;
    width: 100%;
    
}
.box{
    width: 265px;
    height: 400px;
    background-color: blue;
    display: inline-block;
    
}
.rdiv{
    display: inline-block;
}
.box2{
    background-color: chartreuse;
    vertical-align: top;
    width: 275px;
    height: 200px;
    margin: 0;
    padding: 0;
}
.inlineblock{
    float: left;
}
.subscribeinput{
    border: none;
    padding:10px 15px;
    width: 400px;
    background-color: gainsboro;
    
}
.subscribeinputbtn{
    padding:10px 25px;
    border-radius: none;
    color:  #ffc107!important;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.comabox{
    width: 100px;
    height: 100px;
    background-color: black;
}
.contactinput{
    background: transparent;
    border: none;
    width: 100%;
    color: white;
}
.contacttextarea{
    background: transparent;
    border: none;
    color: white;
    border: solid 1px white;
    height: 125px;
}
.footerbtn{
    padding: 5px 20px;
    cursor: pointer;
}
