*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-family: PT Sans,Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
}
h2{font-family: 'Dosis','Helvetica Neue',Arial,sans-serif;}
.imgwidth{
    width: 100%;
    align-items: center;
    margin: auto;
    display: flex;
}
.imgwidth img{
    align-items: center;
    margin: auto;
}

.left{float: left;}
.right{float: right;}

.clear::after{
    content: "";
    clear: both;
    display: block;
}

/* Top Navbar fixed */

.logotop{
    cursor: pointer;
}

.navbox{
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    z-index: 1;
    background-color:white;
    position: fixed;
}
.width{
    width: 1200px;
}
.navbox img{
    width: 100px;
}
.navbar{
    display: flex;
}
.navbar a{
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    padding: 8px;
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    color: salmon;
}

/* Header */

header{
    position: relative;
    color: white;
    text-align: center;
}

.backimg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/savangroup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:700px;
    
}
.logoname{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logoname h2{
    font-weight: 300;
    font-family: 'Dosis','Helvetica Neue',Arial,sans-serif;
    font-size: 30px;
}
.logoname h1{
    padding: 20px;
    font-size: 90px;
}
.btnbox{
    margin:70px 0;
    text-align: center;
}

.btn{
    margin: 20px 0;
    cursor: pointer;
    font-size: 11px;
    color: white;
    border: none;
    background: transparent;
    padding: 20px 30px;
    letter-spacing: 2px;
    margin: 5px;
    text-decoration: none;
    border-radius: solid 1px white;
    transition: .5s;
}
.btnone{
    border: solid 2px white;
    border-radius: 3px;
}
.btnone:hover{
    text-decoration: underline;
    background-color: white;
    color: black;
}
.btntwo{
    background-color: tomato;
    border-radius: 3px;
}
.btntwo:hover{
    background-color: rgb(255, 70, 37);
}

/* SideShow */

.slidebar h1 {
    text-align: center;
}

.slidebar img{
    display: inline-block;
    text-align: center;
    width: 50%;
    
}


/* PRINCIPLES */

.topbox{padding: 32px 0;}

.topcontent{
    width: 1000px;
    text-align: center;
}
.topcontent h2{
    font-family: 'Dosis','Helvetica Neue',Arial,sans-serif;
    margin: 20px 0;
    font-weight: 400;
}
.topcontent hr{ 
    width: 50px;
    border: solid 2px tomato;
}
.topcontent p{
    margin: 20px 0;  
    line-height: 2;
    color: #777;
}

/*  Top content */

.secoundcontent{
    display: inline-block;
    padding: 50px 0;
}
.sidebox{
    width: 33.3%;
    height: 330px;
    padding: 50px;
}
.centerbox{
    padding: 0;
    width: 33.3%;
}
.centerbox img{height: 330px;}

.one{
    background-color: tomato;
    color: white;
}
.three{
    background-color: rgb(36, 36, 36);
    color: #777;
}
.sidebox h1{
    padding: 20px 0;
    font-family: monospace;
    font-weight: 300;
}
.sidebox p{
    line-height: 1.5;
    margin-bottom: 40px ;
}
.sidebtn{
    margin: 20px 0;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 11px;
    padding: 20px 30px;
    background-color: white;
    letter-spacing: 2px;
    border-radius: 50px;
    transition: .5s;
}
.foursix{
    background-color: rgb(231, 231, 231);
    color: #777;
} 
.five{
    background-color: rgb(211, 211, 211);
    color: #777;
}

/* Middle content (OUR SERVICES) */

.servicecontainer{
    padding: 62px 0;
    width: 1000px;
}

.service{text-align: center;}

.servicebox{
    width: 33.3%;
    padding: 0 20px;
    color: #777;
}
.servicebox h2{
    padding: 20px 0;
    font-weight: 300;
}
.servicebox p{
    line-height: 1.5;
    font-size: 15px;
}
.black{background-color: black;}

/* section team (Zoom img) */

.zoomcontainer {position: relative;}

.image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .8s ease-out;
    transition: .5s ease-in;
}

.zoomcontainer:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(2);
    transform: scale(1);
}

.teamintro{
    display: inline-block;
    padding: 20px 0;
    line-height: 1.5;
}
.teamintro p{
    font-weight: 200;
    font-size: 13px;
}

.tometo{
    background-color: tomato;
    color: white;
}
.black{
    background-color: rgb(26, 26, 26);
    color:  #777;
}
.teamicon{
    border: solid 1px white;
    padding: 0 10px;
    margin: 10px 0;
}
.teambox {margin: 10px;}

.socialicon{padding: 0 20px 20px 20px;}

.socialicon a{
    margin: 0 10px;
    border:  solid 1px white;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.socialicon a:hover{background-color: white;}

/* Team About */

.aboutteam{
    text-align: center;
    width: 600px;
}
.abouttext{margin: 20px 0;}

.abouttext span{color: #777;}

.aboutteam p{
    font-size: 20px;
    font-family: Georgia;
    font-style: italic;
    padding: 20px 0;
    line-height: 1.5;
}
.teamcircle{
    align-items: center;
    border-radius: 50%; 
    width: 100px;
    padding: 10px 0;
    
}

/* Section record  */

.sectionrecourd{
    text-align: center;
    padding-bottom: 50px;
}
.recordicon{
    width: 50px;
    padding: 50px;
    border-radius: 50%;
    background-color:  black;
}
.Modelbackimg{
    background-image: url("../image/webdeveloperbcimg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:500px;
}
.recordcontent{
    position: relative;
    top: 20%;
    color: white;
    width: 25%;
}
.recordcontent h2{
    padding: 20px 0;
    font-size: 80px;
}

/* portfolio */

.portfoliyo {margin: 30px 0;}

.portfoliyoimg {
    position: relative;
    width: 33.3%;
}
.portfoliyoimg img{height: 300px;}

.portfoliooverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color:tomato;
}

.portfoliyoimg:hover .portfoliooverlay{
    opacity: .8;
}

.portfolooverlaytext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* pricing */

.pricing{
    width: 1000px;
    text-align: center;
    padding:50px 0;
}

.backcolorli{background-color: #F9F9F9;}

.price{
    font-family: 'Dosis','Helvetica Neue',Arial,sans-serif;
    width: 32%;
    color: black;
    margin: 0 12px 30px 0;
    border: solid 1px whitesmoke;
    transition: .2s ease-in-out;
}
.tomoto {background-color: tomato;}

.tomoto h5{
    color: white;
    padding: 5px 0;
}
.top h5,h3{
    color: white;
    font-weight: 400;
}
.top{
    background-color:#333;
    color: white;
}
.top h5{padding: 5px 0;}

.bottom{
    padding: 20px 0;
    text-align: center;
}
.ul{
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
.li{
    color: #555;
    padding: 20px 0;
    text-align: center;
}
.btntomoto{
    background-color: tomato;
    color: white;
}
.pricingbtn{
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
}
.btnblack{
    background-color: #333;
    color: white;
}
.pricingbtn:hover{
    text-decoration: underline;
    cursor: pointer;
}
.price:hover{
    margin-top: -10px;
}

/* timeline */

.textalinleft{text-align: left;}

.textalineright{text-align: right;}


.timelinecontainer{
    padding: 20px 0;
    width: 1000px;
}
.timelinebox{
    padding: 20px 10px;
    border: solid 1px rgb(233, 233, 233);
    width: 45%;
    border-radius: 5px;
}
.timelinebox span{
    display: block;
    color: #777;
    padding: 10px 0;
    line-height: 1.5;
}
.timelinebox:hover{
    transition: .3s ease-in-out;
    background-color: rgb(235, 235, 235);
}
.fixedimg{
    background-image: url("../Dayana/dayanabackimg.jpg");
}
.span{
    display: inline-block;
    margin: 25px 0;
}

/* contact form */

form{
    text-align: center;
    width: 100%;
}
.contactbox{
    width: 800px;
}
.contactbox p{
    text-align: center;
    padding: 20px 0;
    color: #777;
}
.input{
    margin-bottom: 10px;
    display: inline-block;
    width: 49%;
    padding: 15px ;
}
.message{
    padding: 15px;
    width: 99%;
    height: 200px;
}

/* Footer */

footer{background-color:  #333;}

.footer{
    padding: 50px 0;
    text-align: center;
    background-color: #333;
}
.footer h1{
    font-size: 50px;
    color: white;
}
.footer p{
    padding: 20px 0;
    color: rgb(211, 211, 211);
}
.footer h1::first-letter{
    color: rgb(255, 70, 37);
}
.footer p a{
    color: white;
    text-decoration: none;
}
.footer p a:hover{
    color: rgb(255, 70, 37);
}

/* media  Quary for Mobile screen*/

@media only screen and (min-width: 300px) and (max-width: 425px) 

{
    .navbar{display: none;}

   
    .navbox,.logoname,.topcontent,.secoundcontent,.sidebox,.centerbox,.service,.servicebox,
    .servicecontainer,.aboutteam,.recordcontent,.portfoliyoimg,.pricing,.price,.timelinecontainer,
    .timelinebox,.contactbox,.input,.textalinleft,.footer,.width{
        width: 100%;
    }
    
    .logoname h1{font-size: 50px;}
    
    .btnbox{
        display: inline-block;
        font-size: 20px;
        margin: 0;
    }
    .btnbox a{display: block;}
    .sidebtn{padding:15px;}
    .sidebox h1{font-size: 20px;}
    .sidebox p{font-size: 15px;}
    .socialicon a{margin: 0 5px;}
    .servicebox{padding-bottom: 20px;}
    .servicecontainer{padding: 30px 0;}
    .servicebox p{padding: 0 20px;}
    .aboutteam{padding: 0 20px;}
    .abouttext p{font-size: 15px;}
    .recordcontent{
        padding: 10px 0;
        font-size: 15px;
        top: 10%;
    }
    .recordicon{
        width: 25px;
        padding: 25px;
    }
    .recordcontent h2{font-size: 25px;}
    .Modelbackimg{ height: 1100px;}
    .timelinewrap{padding: 0 10px;}
    .btnbox{text-align: center;}
    .contactbox{padding: 0 10px;}
    .footer p{padding: 0 30px;}
    
}
/* media  Quary for Tablet screen*/

@media only screen and (min-width: 426px) and (max-width: 1023px)

{
    .logoname h1{font-size: 50px;}
    
    .top{
        display: none;
    }
    .topmenubox{
        display: none;
    }
    
    .topmenubox a{
        border: solid 1px silver;
        cursor: pointer;
        align-items:end; 
        width: 20px;
        padding: 8px 12px;
    }
    .topmenubox a:hover{
        background-color: whitesmoke;}
        
        .btnbox{margin: 20px 0;}
        
        .logoname,.width,.topbox,.topcontent,.secoundcontent,.sidebox,.servicecontainer,.servicebox,.service,
        .centerbox,.sectionrecourd,.recordcontent,.portfoliyo,.pricing,.price,.timelinecontainer,
        .timelinewrap,.contactbox,.input,.aboutteam,.abouttext,.message,.imgwidth{
            width: 100%;
        }
        .abouttext p{padding: 0 20px;}
        
        .servicebox p{
            display: inline-block;
            width: 400px;
            padding: 10px 0;
        }
        .recordicon{
            width: 25px;
            padding: 25px;
        }
        .recordcontent h2{font-size: 25px;}
        
        .Modelbackimg{height: 900px;}
        
        .portfoliyoimg{width: 50%;}
        
        .timelinebox{
            width: 95%;
            margin: 10px 0;
        }
        .textalinleft {text-align: center;}
        
        form{padding: 0 10px;}
        
        .footer{
            padding: 30px 0;
            margin-top: 20px;
        }
    }
    
    /* media  Quary for Laptop screen*/
    
    @media only screen and (min-width: 1024px)
    
    {
        .backimg,.logoname,.topbox,.secoundcontent,.navbox{
            width: 100%;
        }
        .displaynnone{
            display: none;
        }
        .btnbox{
            margin: 50px 0;
        }
        .topcontent p{
            font-size: 20px;
        }
        .width{
            width: 1000px;
        }
    }