
/* Author : Savan Sidhdhapura */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #ff3d3d; color:#fff; text-shadow: none; }
::selection { background:#ff3d3d; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #ff3d3d; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/* firework animate */


span.svg {
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.svg {
  width: 300px;
  height: 300px;
  max-width: 300px;
  margin: auto;
}
@keyframes fireworkone {
  0%   { opacity: 0;}
  25%  { opacity: .15;}
  50%  { opacity: .3;}
  75%  { opacity: .15;}
  100% { opacity: 0;} 
}
@keyframes fireworktwo {
  0%   { opacity: 0;}
  25%  { opacity: .45;}
  50%  { opacity: .8;}
  75%  { opacity: .45;}
  100% { opacity: 0;} 
}
@keyframes fireworthree {
  0%   { opacity: 0;}
  25%  { opacity: .55;}
  50%  { opacity: 1;}
  75%  { opacity: .55;}
  100% { opacity: 0;} 
}

.firework-icon .cls-1, .firework-icon .cls-2, .firework-icon .cls-3 {
  opacity: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite; }
  
  .firework-icon .cls-3 {
    animation-name: fireworthree;
    animation-delay: .11s; }
    
    .firework-icon .cls-2 {
      animation-name: fireworktwo;
      animation-delay: .41s; }
      
      .firework-icon .cls-1 {
        animation-name: fireworkone;
        animation-delay: .71s;}
        
        @keyframes elastic-pulse {
          0%   { transform: scale(0.2);}
          100% { transform: scale(1);} 
        }
        
        .img-firework {
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          animation-name: elastic-pulse;
          animation-delay: 0s;
        }
        
        /* Demo Only */
        h1 {
          position: absolute;
          top: calc(50% - 15px);
          color: #fff;
          margin: 0;
          line-height: 1;
          font-size: 30px;
        }
        
        /* Savan Sidhdhapura */
        
        
        @font-face {
          font-family: 'BebasNeueRegular';
          src: url('../types/BebasNeue-webfont.eot');
          src: url('../types/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
          url('../types/BebasNeue-webfont.woff') format('woff'),
          url('../types/BebasNeue-webfont.ttf') format('truetype'),
          url('../types/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
          font-weight: normal;
          font-style: normal;
        }
        
        html,body {background:#eee;height:100%;overflow:hidden;width:100%;color:#adadad;}
        .intro {margin:0;position:absolute;top:50%;left:5%;text-align:left;margin-top:-75px;}
        .intro * {display:inline-block;font-weight:normal;}
        
        .intro h2 {/* background:#ff3d3d; */font-family:'BebasNeueRegular';font-size:85px;text-align:left;color:#ff3d3d;height:95px;}
        .intro h4 {font-size:14px;color:#adadad;display:block;}
        .intro span.empty {display:inline;}
        
        .rangoli {
          position:absolute;
          right:-20px;
          bottom:20px;
          height: 350px;
          width: 350px;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: scale(0.7);

          
          -moz-animation:move 5s infinite ease-in-out;
          -webkit-animation:move 5s infinite ease-in-out;
        }
        .svg
        
        .snowman {
          position:absolute;
          right:50px;
          bottom:35px;
          
          
          -moz-animation:snowman 3s infinite ease-in-out;
          -webkit-animation:snowman 3s infinite ease-in-out;
          -webkit-transform-origin: center bottom;
          -moz-transform-origin: center bottom;
        } 
        
        
        /* @-moz-keyframes move{
          0%{bottom:75px;}
          50% {bottom:150px;}
          100%{ bottom:75px;}
        }
        @-webkit-keyframes move{
          0%{bottom:75px;}
          50% {bottom:150px;}
          100%{ bottom:75px;}
        }
         */
        
        @-moz-keyframes snowman{
          0% { -moz-transform:rotate(15deg);}
          50% { -moz-transform:rotate(-15deg); }
          100% { -moz-transform:rotate(15deg); }
        }
        @-webkit-keyframes snowman{
          0% { -webkit-transform:rotate(15deg); }
          50% { -webkit-transform:rotate(-15deg); }
          100% { -webkit-transform:rotate(15deg); }
        } 
        
        
        footer {background:url(../images/footer-bg.png) left top repeat-x;height:55px;bottom:0;position:absolute;left:0;width:100%;}
        footer p {position:absolute;bottom:20px;left:20px;}
        aside {position:absolute;bottom:15px;right:50px;}
        aside a {margin:0px 1px}
        #google-plus {vertical-align:middle !important}
        #google-plus div {vertical-align:text-bottom !important;width:70px !important}
        
        
        
        .ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
        .hidden { display: none; visibility: hidden; }
        .visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
        .visuallyhidden.focusable:active,
        .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
        .invisible { visibility: hidden; }
        .clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
        .clearfix:after { clear: both; }
        .clearfix { zoom: 1; }
        
        
        @media all and (orientation:portrait) {
          
        }
        
        @media all and (orientation:landscape) {
          
        }
        
        @media screen and (max-device-width: 480px) {
          
          /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
        }
        
        
        @media print {
          * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
            -ms-filter: none !important; } 
            a, a:visited { color: #444 !important; text-decoration: underline; }
            a[href]:after { content: " (" attr(href) ")"; }
            abbr[title]:after { content: " (" attr(title) ")"; }
            .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
            pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
            thead { display: table-header-group; }
            tr, img { page-break-inside: avoid; }
            @page { margin: 0.5cm; }
            p, h2, h3 { orphans: 3; widows: 3; }
            h2, h3{ page-break-after: avoid; }
          }